@charset "utf-8";
body{font-family:"微軟正黑體";}
#banner{margin-top:50px;
width: 100%;}
.title{color: #FA8072; font-weight:bold; margin-bottom: 20px;}
.item{margin-bottom: 30px;}
.item p{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
footer {background-color: #000;color:#FFF;height:50px;text-align: center;
font-size:10px;padding-top:20px;margin-top:20px;}

#fixedTop {
	padding: 15px 20px;
	right: 10px;
	bottom: 10px;
	color: #fff;
	text-align: center;
	display: none;
	background: #000;
	position: fixed;
	z-index: 99;

}